ul.nav.nav-tabs.mb-4
  = menu_item t('all', scope: 'web.admin.comments.menu'), admin_resumes_comments_path
  = menu_item t('archived', scope: 'web.admin.comments.menu'), archived_admin_resumes_comments_path
