- content_for :header do
  = t('.header')

= render partial: 'web/shared/resume_form',
         locals: { resume: @resume, url: account_resume_path(@resume), resume_educations: @resume_educations, resume_works: @resume_works, can_update: false }
