- content_for :header do
  = t('.users_archived_career')

= render 'search_form', q: @q

= render 'menu'

= render 'users', career_members: @archived_career_members, users: @users, q: @q, show_progress: false

= paginate @archived_career_members
