- content_for :header do
  = t('.users_finished_career')

= render 'search_form', q: @q

= render 'menu'

= render 'users', career_members: @finished_career_members, users: @users, q: @q, show_progress: false

= paginate @finished_career_members
