- content_for :header do
  = t('.students')

= render 'search_form', q: @q

= render 'menu'

h2 = t('.users_active_career')

= render 'users', users: @users_with_active_career, q: @q, finished: false

= paginate @users_with_active_career
