- content_for :header do
  = t('.students')

= render 'search_form', q: @q

= render 'menu'

h2 = t('.users_active_career')

= render 'users', career_members: @active_career_members, users: @users, q: @q, show_progress: true

= paginate @active_career_members
