- content_for :header do
  = t('.users_lost_career')

= render 'search_form', q: @q

= render 'menu'

= render 'users', users: @users_lost_career, q: @q, show_progress: true

= paginate @users_lost_career
