- content_for :header do
  = t('.users_lost_career')

= render 'search_form', q: @q

= render 'menu'

= render 'users', career_members: @lost_career_members, users: @users, q: @q, show_progress: true

= paginate @lost_career_members
