- content_for :header do
  = t('.header')

= render 'web/shared/resume_form', resume: @resume, url: admin_resume_path(@resume),
  resume_educations: @resume_educations, resume_works: @resume_works, can_update_state: policy(@resume).update_state?
