- content_for :header do
  = t('.header')

= render partial: 'web/shared/resume_form',
         locals: { namespace: :admin, resume: @resume, resume_educations: @resume_educations, resume_works: @resume_works }
