---
version: "3.7"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: "bundle exec puma -t 5:5 -p ${PORT:-3000} -e ${RACK_ENV:-development}"
    env_file:
      - .env
    volumes:
      - ~/.bash_history:/root/.bash_history
      - .:/app
    ports:
      - "3000:3000"
    

  # webpacker:
  #   build: .
  #   environment:
  #     - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
  #   command: ./bin/webpack-dev-server
  #   volumes:
  #     - .:/usr/src/app/
  #   ports:
  #     - '3035:3035'
