---
version: "3.7"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: make backend
    volumes:
      - ~/.bash_history:/root/.bash_history
      - .:/app
    ports:
      - "4000:3000"
    depends_on:
      - frontend
    stdin_open: true
    tty: true

  frontend:
    build: .
    command: make frontend
    volumes:
      - .:/app
