---
version: "3.7"

services:
  app:
    build: .
    volumes:
      - .:/usr/src/app:delegated
    ports:
      - "3000:3000"
    env_file:
      - .env
    command: "bundle exec puma -t 5:5 -p ${PORT:-3000} -e ${RACK_ENV:-development}"

  # webpacker:
  #   build: .
  #   environment:
  #     - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
  #   command: ./bin/webpack-dev-server
  #   volumes:
  #     - .:/usr/src/app/
  #   ports:
  #     - '3035:3035'
