span = t('.introduction_html')

br

= link_to account_members_url(locale: I18n.locale), style: 'border: none; text-decoration: none; color: white; background: #0B63F6;' do
  = t('.in_track')

br

= t('.list_html', locale: I18n.locale)

div
  = link_to career_url(@career, locale: I18n.locale), style: 'border: none; text-decoration: none; color: white; background: #0B63F6;' do
    = t('.start_career')

hr

p  #{t('unsubscribe')} #{link_to t('settings'), edit_account_newsletters_url(locale: I18n.locale), target: '_blank', rel: 'noopener'}
