span = t('.description_html', career_path: career_member_url(@career.slug, @career_member, locale: I18n.locale))

hr

p  #{t('unsubscribe')} #{link_to t('settings'), edit_account_newsletters_url(locale: I18n.locale), target: '_blank', rel: 'noopener'}
