<p>
  <%= link_to @answer.user, user_url(@answer.user), target: "_blank" %> оставил рекомендацию в вашему резюме <%= link_to @answer.resume, resume_url(@answer.resume, anchor: "answer-#{@answer.id}"), target: "_blank" %>
</p>

<p>
  Вы можете отписаться от рассылки в <%= link_to 'настройках', account_profile_url, target: "_blank" %>
</p>
