= content_for :header do
  = t('.header')

/ TODO: show public data
/ .container
/   .row
/     .col-lg-9.mx-auto
/       .mb-5
/         .row.mt-3
/           .col-3
/             = han('user', 'email')
/           .col-9
/             = @user.email
/         .row.mt-3
/           .col-3
/             = han('user', 'first_name')
/           .col-9
/             = @user.first_name
/         .row.mt-3
/           .col-3
/             = han('user', 'last_name')
/           .col-9
/             = @user.last_name
