.nested-fields
  .mt-3
    .mb-2.p-3.pb-1.bg-light.rounded-3
      .mb-3
        = f.input :description
      .mb-3
        = f.input :begin_date,
                  as: :date,
                  discard_day: true,
                  use_month_names: t('months_nominative_case'),
                  prompt: true,
                  start_year: 1970,
                  end_year: Time.current.year,
                  wrapper: :custom_vertical_date_select
      .mb-3
        = f.input :end_date,
                  as: :date,
                  discard_day: true,
                  use_month_names: t('months_nominative_case'),
                  prompt: true,
                  start_year: 1970,
                  end_year: Time.current.year,
                  wrapper: :custom_vertical_date_select

      .mb-3.d-flex.justify-content-end
        = f.input :current, as: :boolean
    .mb-4
      = link_to_remove_association t('.remove_education'), f
