// $body-bg: #f5f7fb;
$link-decoration: none;

@import 'bootstrap/scss/bootstrap';
@import 'select2';
@import 'select2-bootstrap-5-theme';
@import 'bootstrap-icons/font/bootstrap-icons';



.hexlet-cv-content {
  details {
    >summary {
      @extend .mb-3;
    }
  }
}
