= link_to url_for(params.permit!.merge(format: 'csv')) do
    span.bi.bi-file-earmark-spreadsheet
      = t('.export')

= render 'search_form', q: @q, form_path: admin_vacancies_path, is_state_disabled: false

= render 'menu'

= render 'vacancies_table', q: @q, vacancies: @vacancies

= paginate @vacancies
