h1 О проекте

p Цель Hexlet CV - предоставить платформу для сообщества, где вы получите рекомендации на резюме от участников сообщества и профессиональных HR. 

p Взаимодействие на Hexlet CV строится на основе резюме и рекомендаций на них. На конкретное резюме каждый участник сообщества дает только одну рекомендацию.

p Присоединяйтесь к сообществу, публикуйте резюме и оставляйте рекомендации другим участникам. Расскажите о сайте коллегам и друзьям!

p Исходный код платформы Hexlet CV доступен на GitHub. Вы можете поучаствовать в процессе разработки.

= link_to 'Исходный код', 'https://github.com/Hexlet/hexlet-cv', target: "_blank"
