h1 About

p The goal of Hexlet CV is to provide a platform for community where you will receive recommendations on resumes from community members and professional HR.

p Interaction on Hexlet CV is based on: CV and recommendations based on them. Each member of the community gives only one recommendation for a specific CV.

p Join the community, post CV and leave recommendations to other members. Tell colleagues and friends about the site!

p The source code for the Hexlet CV platform is available on GitHub. You can participate in the development process.

= link_to 'Source code', 'https://github.com/Hexlet/hexlet-cv', target: '_blank', rel: :noopener
