name: Main

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    # env:
    #   RAILS_ENV: test

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: make ci-setup
      - run: make check
